<div class="row">
	<% @confessions.each do |confession| %>
	
		<dl class="dl-horizontal confession">
			<dt>Title:</dt>
			<dd><%= confession.title %></dd>
			
			<dt>Content:</dt>
			<dd><%= confession.content %></dd>
			
			<dt>Username:</dt>
			<dd><%= link_to confession.user.username, root_path(user_id: confession.user.id) %></dd>
			
			<dd><%= link_to 'Click for details', confession_path(confession) %></dd>
			
			<dd>
				<% like = Like.where(:user_id => current_user.id, :confession_id => confession.id).first %>
				<% unless like %>
					<h5><%= render partial: 'likes/like', locals: {c: confession} %></h5>
				<%else%>
					<h5><%= render partial: 'likes/unlike', locals: {like: like} %></h5>
				<% end %>
			</dd>

			<dd>
				<%= confession.likes.count %> -
				<%= confession.users.last(10).map {|u| u.username}.join(', ') %>
			</dd>
		</dl>
	<% end %>
</div>
