<%= link_to 'Create confession', confessions_new_path %><hr></hr>
<body bgcolor="#E6E6FA">
<% @confessions.each do |confession| %>
	<div class="confession">
		<dl>
		  <dt>Title:</dt>
		  <dd><%= confession.title %></dd>
		  <dt>Content:</dt>
		  <dd><%= confession.content %></dd>
		  <dt>Username:</dt>
		  <dd><%= confession.user.username %></dd>
		  <%= link_to 'Show', confession_path(confession) %>
		  <%= link_to 'Delete', delete_confession_path(confession), method: :delete,
              data: { confirm: 'Are you sure?' } %>
         
		</dl>
    </div>
<% end %>


