<div class="row">
	<dl class="dl-horizontal confession">
		<dt>
			Title:
		</dt>
		<dd>
			<%= @confession.title %>
		</dd>

		<dt>
			Content:
		</dt>
		<dd>
			<%= @confession.content %>
		</dd>

		<dt>
			Username:
		</dt>
		<dd>
			<%= @confession.user.username %>
		</dd>

		<dd>
			<%= link_to 'Back', root_path %>
			<% if @confession.user_id == current_user.id %>
			<%= link_to 'Edit', edit_confession_path(@confession) %>
			<%= link_to 'Delete', delete_confession_path(@confession), method: :delete,
			data: { confirm: 'Are you sure?' } %>
			<% end %>
		</dd>
	</dl>
</div>
<%= render @confession.comments%>
		<%= render 'comments/form' %>

	    

	
	
	
	
	
    
    
  
	
