<hr>
</hr>

<%= form_tag signup_path do %>
<% if @user && @user.errors.any? %>
<div id="error_explanation">
	<h2> <%= pluralize(@user.errors.count, "error") %> prohibited
	this user from being saved: </h2>
	<ul>
		<% @user.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="all">

	<p>
		<strong> <%= label_tag :username %>
		<br>
		<%= text_field_tag(:username, params[:username]) %>
	</p></strong>

	<p>
		<strong> <%= label_tag :password %>
		<br>
		<%= password_field_tag :password %>
	</p></strong>

	<p>
		<strong> <%= label_tag :password_confirmation %>
		<br />
		<%= password_field_tag :password_confirmation %>
	</p></strong>

	<p>
		<strong> <%= submit_tag 'Sign Up'%>
		<br>
	</p></strong>
	<% end %>
</div>
<hr>
</hr>

<div class="log">
	
<% if flash[:alert] %>
<p>
	<%= flash[:alert] %>
</p>
<% end %>

	<%= form_tag sessions_path do %>
	<p>
		<strong> <%= label_tag :username %>
		<br>
		<%= text_field_tag :username, params[:username] %>
	</p></strong>

	<p>
		<strong> <%= label_tag :password %>
		<br>
		<%= password_field_tag :password %>
	</p></strong>

	<p>
		<strong> <%= submit_tag 'Login' %>
	</p></strong>
	<% end %>
</div>
