<div class="navbar">
    <div class="container">
    	<div class="logo">
            <h1>
            	<%= link_to 'Confession' , root_path%>
            </h1>
        </div>
           <div class="nav">
	          <ul>
		 	     <li>
		 	     	<%= link_to 'New Confession' , confessions_new_path%>
		 	     </li>
		         
		         <% if signed_in? %>
		         	 <li><%= link_to 'My Confessions' , root_path(user_id: current_user.id) %></li>

			         <li>
			         	<%= link_to sign_out_path, method: :delete do %>
			         		Sign out
			         		<br/>
			         		<%= current_user.username %>
			         	<% end %>
			         </li>
		         <% else %>
			         <li><%= link_to 'Sign In', signup_path %> </li>
			     <% end %>
	          </ul>
           </div>
    </div>
</div>